<!--<h1>Jobsearch#job</h1>-->
<!--<p>Find me in app/views/jobsearch/job.html.erb</p>-->

<nav class="top-bar" id="navbar" data-topbar>
        <ul class="title-area">
           
          <li class="name">
            <h1>
              <a href="#">
                Jobs are FUN! Let's Explore Getting a Job
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
      </nav>
     
     
       
     
       
     
      <div class="row">

        <div class="large-6 columns large-centered columns">
          <div>
            <h2>What do you want to be?</h2>
          </div>
        </div>
      </div>
     
     
     
      <div class="row">
     
        <div class="large-4 columns">
          <div class="panel">
            <p>
            <a href="results"><img class="placeholder" src="<%= image_path ('doctor.jpg') %>" alt="icon placeholder"/></a>
            </p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>
              <a href="results"><img class="placeholder" src="<%= image_path ('mechanic.jpg') %>" alt="icon placeholder"/></a>
            </p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>
            <a href="results"><img class="placeholder" src="<%= image_path ('skyline.jpg') %>" alt="icon placeholder"/></a>
            </p>
          </div>
        </div>
     
      </div>
     
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p> Team 2Cool4Skool</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="location">Location</a></li>
                <li><a href="job">Jobs</a></li>
                <li><a href="results">Results</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

