<!--<h1>Jobsearch#job</h1>-->
<!--<p>Find me in app/views/jobsearch/job.html.erb</p>-->

<nav class="top-bar" id="navbar" data-topbar>
        <ul class="title-area">
           
          <li class="name">
            <h1>
              <a href="#">
                Jobs are FUN! Let's Explore Getting a Job
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu Test</span></a></li>
        </ul>
      </nav>
     
     
       
     
       
     
      <div class="row">

        <div class="large-6 columns large-centered columns">
          <div>
            <h2>What do you want to be?</h2>
          </div>
        </div>
      </div>
     
     
     
      <div class="row">
     
        <div class="large-3 columns">
            <p class="circle">
              <%= link_to(
      image_tag('doctor.png'),
      results_path(location: @location, job:'doctor')
    ) 
%>
            </p>
        </div>
        <div class="large-3 columns">
            <p class="circle">
              <%= link_to(
      image_tag('mechanic.png'),
      results_path(location: @location, job:'mechanic')
    ) 
%>
        </div>
        <div class="large-3 columns">
            <p class="circle">
              <%= link_to(
      image_tag('teacher.png'),
      results_path(location: @location, job:'teacher')
    ) 
%>
            </p>
        </div>
        <div class="large-3 columns">
            <p class="circle">
              <%= link_to(
      image_tag('architect.png'),
      results_path(location: @location, job:'construction')
    ) 
%>
            </p>
        </div>
     
      </div>
     
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p> Team 2Cool4Skool</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="location">Location</a></li>
                <li><a href="job">Jobs</a></li>
                <li><a href="results">Results</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

