<nav class="top-bar" data-topbar>
        <ul class="title-area">
           
          <li class="name">
            <h1>
              <a href="#">
                Jobs are FUN! Let's Explore Getting a Job
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
      </nav> 
       
      <div class="row">
      <div class="large-12">
<h1>Pick any job you want!</h1>

<% @job_data[:job_results].each do |job| %>
  <div class="large-10 columns panel">
        <p><%= job.title %></p>
      <p>Where: <%= job.location %></p>
      <p>Company: <%= job.company_name %></p>
      <a href="#" data-reveal-id="myModal" class="button">I want this job!</a>
    </div>
<% end %>
      </div>

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>Yay! You got the job!</h2>
  <a class="close-reveal-modal">&#215;</a>
</div>
     
     
       
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p> Team 2Cool4Skool</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="location">Location</a></li>
                <li><a href="job">Jobs</a></li>
                <li><a href="results">Results</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>