<nav class="top-bar" data-topbar>
        <ul class="title-area">
           
          <li class="name">
            <h1>
              <a href="#">
                Jobs are FUN! Let's Explore Getting a Job
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
      </nav> 
       
      <div class="row">
        
         
         
        <div class="large-12 columns">
    
           
     
          <hr/>
     
           
          <div class="row">
            <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
            <div class="large-10 columns">
              <p>
                <% @job_results.each do |job_info| %>
                    <%= job_info.title %><br/>
                <% end %>
              </p>
            </div>
          </div>

        </div>
     
      </div>
     
     
       
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p> Team 2Cool4Skool</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="location">Location</a></li>
                <li><a href="job">Jobs</a></li>
                <li><a href="results">Results</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>